.logo{
  background-color: #000;
  @include border-radius(125px);
  width: 125px;
  height: 125px;
  text-align: center;
  letter-spacing: -7px;

  span{
    font-family: $font-stack;
    color: #0ac2d2;
    font-size: 98px;
    position: relative;
    top: -11px;

    &:first-child{
      left: -7px;
    }
    &:last-child{
      left: -3px; 
    }
  }
}

header{

  .logo{
    background-color: #000;
    @include border-radius(30px);
    width: 30px;
    height: 30px;
    text-align: center;
    letter-spacing: -4px;

    span{
      font-family: $font-stack;
      color: #0ac2d2;
      font-size: 18px;
      position: relative;
      top: 2px;

      &:first-child{
        left: -3px;
      }
      &:last-child{
        left: 0; 
      }
    }
  }
}