$font-stack: "Ubuntu", sans-serif;

$theme-blue: #00BFFF;
$theme-blue-rgb: rgba(0, 191, 255, 0.1);

$theme-pink: #f92a5b;
$theme-pink-rgb: rgba(249, 41, 91, 0.1);

$theme-orange: #fc5420;
$theme-orange-rgb: rgba(252, 84, 32, 0.1);

$theme-green: #1daf00;
$theme-green-rgb: rgba(29, 175, 0, 0.1);