@charset "UTF-8";
html body {
  position: relative;
  font-family: "Ubuntu", sans-serif; }
  html body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  html body p {
    margin: 0; }

.logo {
  background-color: #FFF;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  -ms-border-radius: 125px;
  border-radius: 125px;
  width: 125px;
  height: 125px;
  text-align: center;
  letter-spacing: -7px; }
  .logo span {
    font-family: "Ubuntu", sans-serif;
    font-size: 98px;
    position: relative;
    top: -11px; }
    .logo span:first-child {
      left: -7px; }
    .logo span:last-child {
      left: -3px; }
  .logo.header-logo {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    letter-spacing: -4px; }
    .logo.header-logo span {
      font-size: 18px;
      top: 2px;
      color: #FFF; }
      .logo.header-logo span:first-child {
        left: -3px; }
      .logo.header-logo span:last-child {
        left: 0; }

/* INIT: Projects Animations */
@-webkit-keyframes projectFocus {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }

@-moz-keyframes projectFocus {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }

@-o-keyframes projectFocus {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }

@keyframes projectFocus {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; } }

/* END: Projects Animations */
/* INIT: Contact Animations */
@-webkit-keyframes LinkedIn {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  16.67% {
    left: -26px;
    top: 89px; }
  33.33% {
    left: 108px;
    top: 135px; }
  50% {
    left: 147px;
    top: 27px; }
  66.66% {
    left: 195px;
    top: 181px;
    text-indent: -100px; }
  83.33% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-moz-keyframes LinkedIn {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  16.67% {
    left: -26px;
    top: 89px; }
  33.33% {
    left: 108px;
    top: 135px; }
  50% {
    left: 147px;
    top: 27px; }
  66.66% {
    left: 195px;
    top: 181px;
    text-indent: -100px; }
  83.33% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-o-keyframes LinkedIn {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  16.67% {
    left: -26px;
    top: 89px; }
  33.33% {
    left: 108px;
    top: 135px; }
  50% {
    left: 147px;
    top: 27px; }
  66.66% {
    left: 195px;
    top: 181px;
    text-indent: -100px; }
  83.33% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@keyframes LinkedIn {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  16.67% {
    left: -26px;
    top: 89px; }
  33.33% {
    left: 108px;
    top: 135px; }
  50% {
    left: 147px;
    top: 27px; }
  66.66% {
    left: 195px;
    top: 181px;
    text-indent: -100px; }
  83.33% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 294px;
    top: 107px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-webkit-keyframes Facebook {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  12.5% {
    left: -26px;
    top: 89px; }
  25% {
    left: 108px;
    top: 135px; }
  37.5% {
    left: -31px;
    top: 220px; }
  50% {
    left: 171px;
    top: 290px; }
  62.5% {
    left: 195px;
    top: 181px; }
  75% {
    left: 294px;
    top: 231px;
    text-indent: -100px; }
  87.5% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-moz-keyframes Facebook {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  12.5% {
    left: -26px;
    top: 89px; }
  25% {
    left: 108px;
    top: 135px; }
  37.5% {
    left: -31px;
    top: 220px; }
  50% {
    left: 171px;
    top: 290px; }
  62.5% {
    left: 195px;
    top: 181px; }
  75% {
    left: 294px;
    top: 231px;
    text-indent: -100px; }
  87.5% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-o-keyframes Facebook {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  12.5% {
    left: -26px;
    top: 89px; }
  25% {
    left: 108px;
    top: 135px; }
  37.5% {
    left: -31px;
    top: 220px; }
  50% {
    left: 171px;
    top: 290px; }
  62.5% {
    left: 195px;
    top: 181px; }
  75% {
    left: 294px;
    top: 231px;
    text-indent: -100px; }
  87.5% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@keyframes Facebook {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  12.5% {
    left: -26px;
    top: 89px; }
  25% {
    left: 108px;
    top: 135px; }
  37.5% {
    left: -31px;
    top: 220px; }
  50% {
    left: 171px;
    top: 290px; }
  62.5% {
    left: 195px;
    top: 181px; }
  75% {
    left: 294px;
    top: 231px;
    text-indent: -100px; }
  87.5% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 429px;
    top: 227px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-webkit-keyframes Skype {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: -31px;
    top: 220px; }
  40% {
    left: 171px;
    top: 290px; }
  50% {
    left: 195px;
    top: 181px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 513px;
    top: 344px;
    text-indent: -100px; }
  90% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-moz-keyframes Skype {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: -31px;
    top: 220px; }
  40% {
    left: 171px;
    top: 290px; }
  50% {
    left: 195px;
    top: 181px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 513px;
    top: 344px;
    text-indent: -100px; }
  90% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-o-keyframes Skype {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: -31px;
    top: 220px; }
  40% {
    left: 171px;
    top: 290px; }
  50% {
    left: 195px;
    top: 181px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 513px;
    top: 344px;
    text-indent: -100px; }
  90% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@keyframes Skype {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: -31px;
    top: 220px; }
  40% {
    left: 171px;
    top: 290px; }
  50% {
    left: 195px;
    top: 181px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 513px;
    top: 344px;
    text-indent: -100px; }
  90% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 641px;
    top: 389px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-webkit-keyframes Email {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  20% {
    left: -26px;
    top: 89px; }
  40% {
    left: 108px;
    top: 135px; }
  60% {
    left: -31px;
    top: 220px;
    text-indent: -100px; }
  80% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-moz-keyframes Email {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  20% {
    left: -26px;
    top: 89px; }
  40% {
    left: 108px;
    top: 135px; }
  60% {
    left: -31px;
    top: 220px;
    text-indent: -100px; }
  80% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-o-keyframes Email {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  20% {
    left: -26px;
    top: 89px; }
  40% {
    left: 108px;
    top: 135px; }
  60% {
    left: -31px;
    top: 220px;
    text-indent: -100px; }
  80% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@keyframes Email {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  20% {
    left: -26px;
    top: 89px; }
  40% {
    left: 108px;
    top: 135px; }
  60% {
    left: -31px;
    top: 220px;
    text-indent: -100px; }
  80% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 171px;
    top: 290px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-webkit-keyframes GitHub {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: 147px;
    top: 27px; }
  40% {
    left: 195px;
    top: 181px; }
  50% {
    left: 294px;
    top: 107px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 501px;
    top: 116px;
    text-indent: -100px; }
  90% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-moz-keyframes GitHub {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: 147px;
    top: 27px; }
  40% {
    left: 195px;
    top: 181px; }
  50% {
    left: 294px;
    top: 107px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 501px;
    top: 116px;
    text-indent: -100px; }
  90% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@-o-keyframes GitHub {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: 147px;
    top: 27px; }
  40% {
    left: 195px;
    top: 181px; }
  50% {
    left: 294px;
    top: 107px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 501px;
    top: 116px;
    text-indent: -100px; }
  90% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

@keyframes GitHub {
  0% {
    left: 51px;
    top: 27px;
    opacity: 1; }
  10% {
    left: -26px;
    top: 89px; }
  20% {
    left: 108px;
    top: 135px; }
  30% {
    left: 147px;
    top: 27px; }
  40% {
    left: 195px;
    top: 181px; }
  50% {
    left: 294px;
    top: 107px; }
  60% {
    left: 294px;
    top: 231px; }
  70% {
    left: 429px;
    top: 227px; }
  80% {
    left: 501px;
    top: 116px;
    text-indent: -100px; }
  90% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(0.225);
    text-indent: 0; }
  100% {
    left: 576px;
    top: -21px;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    text-indent: 0;
    opacity: 1; } }

/* END: Contact Animations */
body .bg-colored,
body .bg-colored-lighter,
body .txt-colored,
body .tags li {
  -moz-transition: color 1s, background-color 1s;
  -o-transition: color 1s, background-color 1s;
  -webkit-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s; }

.theme-blue .bg-colored,
.theme-blue .tags li {
  background-color: #00BFFF; }

.theme-blue .bg-colored-lighter {
  background-color: rgba(0, 191, 255, 0.1); }

.theme-blue .txt-colored {
  color: #00BFFF; }

.theme-green .bg-colored,
.theme-green .tags li {
  background-color: #1daf00; }

.theme-green .bg-colored-lighter {
  background-color: rgba(29, 175, 0, 0.1); }

.theme-green .txt-colored {
  color: #1daf00; }

.theme-orange .bg-colored,
.theme-orange .tags li {
  background-color: #fc5420; }

.theme-orange .bg-colored-lighter {
  background-color: rgba(252, 84, 32, 0.1); }

.theme-orange .txt-colored {
  color: #fc5420; }

.theme-pink .bg-colored,
.theme-pink .tags li {
  background-color: #f92a5b; }

.theme-pink .bg-colored-lighter {
  background-color: rgba(249, 41, 91, 0.1); }

.theme-pink .txt-colored {
  color: #f92a5b; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  footer p {
    text-align: center;
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
    margin: 0;
    padding: 10px; }
  footer a {
    position: absolute;
    right: 20px;
    top: 6px;
    color: #FFF;
    font-size: 25px;
    -moz-transition: color 0.5s, top 0.5s;
    -o-transition: color 0.5s, top 0.5s;
    -webkit-transition: color 0.5s, top 0.5s;
    transition: color 0.5s, top 0.5s; }
    footer a:hover {
      color: #000;
      top: 2px;
      -moz-transition: color 0.5s, top 0.5s;
      -o-transition: color 0.5s, top 0.5s;
      -webkit-transition: color 0.5s, top 0.5s;
      transition: color 0.5s, top 0.5s; }

header {
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 10;
  width: 100%;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  transition: top 0.5s; }
  header.opened {
    top: 0;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    transition: top 0.5s; }
  header nav {
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35); }
    header nav ul {
      display: block;
      position: relative;
      z-index: 2;
      overflow: hidden;
      background-color: #FFF;
      text-align: center; }
      header nav ul li {
        display: inline-block;
        margin: 5px 20px; }
        header nav ul li .logo {
          cursor: pointer; }
        header nav ul li a {
          font-size: 14px;
          color: black;
          font-weight: 700; }
        header nav ul li.change-color {
          background-color: black;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 0px 1px 0px 1px rgba(66, 66, 66, 0.8);
          -moz-box-shadow: 0px 1px 0px 1px rgba(66, 66, 66, 0.8);
          box-shadow: 0px 1px 0px 1px rgba(66, 66, 66, 0.8);
          padding: 3px 10px;
          color: #FFF;
          cursor: pointer;
          font-size: 12px; }
          header nav ul li.change-color .blue {
            color: #00BFFF; }
          header nav ul li.change-color .orange {
            color: #fc5420; }
          header nav ul li.change-color .green {
            color: #1daf00; }
          header nav ul li.change-color .pink {
            color: #f92a5b; }
          header nav ul li.change-color:hover {
            position: relative;
            top: 1px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none; }
  header span.tab {
    display: inline-block;
    background-color: black;
    border: none;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
    z-index: 1;
    top: -3px;
    left: 50%;
    margin-left: -18px;
    -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.35);
    -moz-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s; }
    header span.tab .fa {
      font-size: 22px;
      position: relative;
      top: 7px; }
    header span.tab:hover {
      background-color: white;
      color: black;
      -moz-transition: background-color 0.5s, color 0.5s;
      -o-transition: background-color 0.5s, color 0.5s;
      -webkit-transition: background-color 0.5s, color 0.5s;
      transition: background-color 0.5s, color 0.5s; }

/* Cover Image */
.cover-bg,
.cover-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center; }

.cover-image {
  z-index: 1;
  opacity: 0.3; }

.mask {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98; }

.container {
  max-width: 900px !important; }

/* Pages */
.page {
  position: relative;
  z-index: 3;
  /* Home */
  /* About */
  /* Projects */
  /* Contact */ }
  .page h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0; }
  .page#home .home-holder {
    overflow: hidden; }
  .page#home .logo {
    margin: 85px auto 0; }
  .page#home h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin: 20px 0; }
  .page#home p {
    text-align: center;
    font-size: 20px;
    color: #fff; }
  .page#home a {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    color: #FFF;
    font-size: 50px;
    -moz-transition: color 0.5s, bottom 0.5s;
    -o-transition: color 0.5s, bottom 0.5s;
    -webkit-transition: color 0.5s, bottom 0.5s;
    transition: color 0.5s, bottom 0.5s; }
    .page#home a:hover {
      color: #000;
      bottom: 0;
      -moz-transition: color 0.5s, bottom 0.5s;
      -o-transition: color 0.5s, bottom 0.5s;
      -webkit-transition: color 0.5s, bottom 0.5s;
      transition: color 0.5s, bottom 0.5s; }
  .page#about:after {
    position: absolute;
    display: inline-block;
    content: '';
    height: 40px;
    bottom: -72px;
    left: 0;
    right: 0;
    transform: SkewY(-1deg);
    background: #2c2b2b;
    z-index: -1; }
  .page#about h2 {
    margin-top: 50px; }
  .page#about figure {
    text-align: center;
    margin-bottom: 30px; }
  .page#about p {
    font-size: 17px;
    text-align: center; }
    .page#about p a {
      font-weight: bold;
      text-decoration: underline; }
      .page#about p a:hover {
        text-decoration: none; }
  .page#about .skillbox {
    padding: 20px;
    margin: 20px 0; }
    .page#about .skillbox h3 {
      font-size: 20px;
      margin: 0 0 10px; }
    .page#about .skillbox ul {
      overflow: hidden; }
      .page#about .skillbox ul li:before {
        padding-right: 8px;
        content: "•"; }
      .page#about .skillbox ul.side-info li {
        float: left;
        width: 50%; }
  .page#projects {
    position: static;
    background-color: #2c2b2b;
    margin: 60px 0 30px; }
    .page#projects h2 {
      margin-top: 0;
      color: #FFF;
      padding: 10px; }
    .page#projects .projects-list {
      overflow: hidden;
      padding-bottom: 40px; }
      .page#projects .projects-list li {
        float: left;
        width: 33.3%;
        cursor: pointer; }
        .page#projects .projects-list li figure {
          display: block;
          position: relative;
          overflow: hidden; }
          .page#projects .projects-list li figure img {
            width: 100%;
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s; }
          .page#projects .projects-list li figure figcaption {
            opacity: 0;
            -moz-transform: scale(2);
            -o-transform: scale(2);
            -webkit-transform: scale(2);
            transform: scale(2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            line-height: 210px;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            color: #D6D6D6;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s; }
        .page#projects .projects-list li:hover figure img {
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
        .page#projects .projects-list li:hover figure figcaption {
          opacity: 1;
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -webkit-transform: scale(1);
          transform: scale(1); }
    .page#projects .project-detail {
      display: none;
      position: absolute;
      width: 900px;
      margin-left: -450px;
      background-color: #FFF;
      padding: 20px;
      top: 0;
      left: 50%;
      z-index: 99; }
      .page#projects .project-detail .fa-times-circle {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        cursor: pointer; }
      .page#projects .project-detail .project-pictures {
        float: left;
        width: 168px; }
        .page#projects .project-detail .project-pictures li img {
          width: 100%;
          display: block;
          -moz-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s; }
      .page#projects .project-detail .project-info {
        overflow: hidden;
        padding-left: 20px; }
        .page#projects .project-detail .project-info .title {
          font-size: 17px;
          font-weight: bold;
          position: relative;
          padding-left: 20px; }
          .page#projects .project-detail .project-info .title:before {
            content: "";
            position: absolute;
            top: 27px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #333; }
          .page#projects .project-detail .project-info .title:after {
            content: "";
            position: absolute;
            top: 20px;
            left: 0;
            width: 15px;
            height: 15px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            border-radius: 20px;
            background-color: #333; }
          .page#projects .project-detail .project-info .title a {
            display: inline-block;
            font-weight: normal;
            padding-left: 10px;
            font-size: 12px;
            text-decoration: none; }
        .page#projects .project-detail .project-info .tags {
          overflow: hidden;
          margin: 15px 0 0 20px; }
          .page#projects .project-detail .project-info .tags li {
            float: left;
            margin: 0 10px 5px 0;
            padding: 3px 10px;
            font-weight: bold;
            font-size: 12px;
            color: #FFF;
            text-transform: uppercase;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px; }
        .page#projects .project-detail .project-info .others {
          margin: 0 0 0 20px;
          font-size: 12px; }
          .page#projects .project-detail .project-info .others strong {
            display: block; }
  .page#contact {
    position: relative;
    padding-bottom: 48px; }
    .page#contact:before {
      position: absolute;
      display: inline-block;
      content: '';
      height: 40px;
      top: -72px;
      left: 0;
      right: 0;
      transform: SkewY(-1deg);
      background: #2c2b2b;
      z-index: -1; }
    .page#contact h2 {
      margin-top: 60px; }
    .page#contact .contact-list {
      position: relative;
      background: url(../img/bg_network.gif) center 0 no-repeat;
      width: 100%;
      max-width: 902px;
      position: relative;
      margin: 0 auto;
      padding-top: 480px; }
      .page#contact .contact-list li {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        -ms-border-radius: 80px;
        border-radius: 80px;
        opacity: 0; }
        .page#contact .contact-list li a {
          display: inline-block; }
          .page#contact .contact-list li a i {
            position: relative;
            width: 80px;
            height: 80px;
            line-height: 80px;
            color: #fff;
            text-align: center;
            font-size: 50px; }
          .page#contact .contact-list li a span {
            display: none; }
        .page#contact .contact-list li:hover {
          background-color: #000;
          -moz-transition: background-color 0.5s;
          -o-transition: background-color 0.5s;
          -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s; }
        .page#contact .contact-list li.link {
          top: 107px;
          left: 294px; }
        .page#contact .contact-list li.face {
          top: 229px;
          left: 429px; }
        .page#contact .contact-list li.emai {
          top: 290px;
          left: 171px; }
          .page#contact .contact-list li.emai i {
            font-size: 40px; }
        .page#contact .contact-list li.gith {
          top: -21px;
          left: 576px; }
        .page#contact .contact-list li.skyp {
          top: 389px;
          left: 641px; }
      .page#contact .contact-list.anim li {
        text-indent: -100px;
        -webkit-transform: translate3d(0, 0, 0) scale(0.225);
        -moz-transform: translate3d(0, 0, 0) scale(0.225);
        -o-transform: translate3d(0, 0, 0) scale(0.225);
        transform: translate3d(0, 0, 0) scale(0.225);
        -webkit-animation-duration: .9s;
        -webkit-animation-fill-mode: forwards;
        -webkit-backface-visibility: hidden;
        -moz-animation-duration: .9s;
        -moz-animation-fill-mode: forwards;
        -o-animation-duration: .9s;
        -o-animation-fill-mode: forwards;
        animation-duration: .9s;
        animation-fill-mode: forwards;
        opacity: 0; }
        .page#contact .contact-list.anim li.link {
          -webkit-animation-name: LinkedIn;
          -webkit-animation-delay: 0.3s;
          -moz-animation-name: LinkedIn;
          -moz-animation-delay: 0.3s;
          -o-animation-name: LinkedIn;
          -o-animation-delay: 0.3s;
          animation-name: LinkedIn;
          animation-delay: 0.3s; }
        .page#contact .contact-list.anim li.face {
          -webkit-animation-name: Facebook;
          -webkit-animation-delay: 0.5s;
          -moz-animation-name: Facebook;
          -moz-animation-delay: 0.5s;
          -o-animation-name: Facebook;
          -o-animation-delay: 0.5s;
          animation-name: Facebook;
          animation-delay: 0.5s; }
        .page#contact .contact-list.anim li.emai {
          -webkit-animation-name: Email;
          -webkit-animation-delay: 0.4s;
          -moz-animation-name: Email;
          -moz-animation-delay: 0.4s;
          -o-animation-name: Email;
          -o-animation-delay: 0.4s;
          animation-name: Email;
          animation-delay: 0.4s; }
        .page#contact .contact-list.anim li.gith {
          -webkit-animation-name: GitHub;
          -webkit-animation-delay: 0.3s;
          -moz-animation-name: GitHub;
          -moz-animation-delay: 0.3s;
          -o-animation-name: GitHub;
          -o-animation-delay: 0.3s;
          animation-name: GitHub;
          animation-delay: 0.3s; }
        .page#contact .contact-list.anim li.skyp {
          -webkit-animation-name: Skype;
          -webkit-animation-delay: 0.2s;
          -moz-animation-name: Skype;
          -moz-animation-delay: 0.2s;
          -o-animation-name: Skype;
          -o-animation-delay: 0.2s;
          animation-name: Skype;
          animation-delay: 0.2s; }

@media only screen and (max-width: 899px) {
  .page {
    /* Projects */ }
    .page#projects .projects-list li {
      width: 50%; }
    .page#projects .project-detail {
      width: 100%;
      margin-left: 0;
      left: 0; } }

@media only screen and (max-width: 690px) {
  .page {
    /* Projects */ }
    .page#projects .projects-list li {
      width: 50%; } }

@media only screen and (max-width: 30em) {
  /* Header */
  header {
    top: -83px; }
    header nav ul li {
      margin: 5px 13px; }
      header nav ul li:last-child {
        margin-bottom: 15px; }
  /* Cover Image */
  .cover-image,
  .cover-bg {
    height: 460px !important; }
  /* Pages */
  .page {
    /* Home */
    /* About */
    /* Projects */
    /* Contact */ }
    .page#home {
      height: 460px !important; }
      .page#home .home-holder {
        height: 460px !important; }
      .page#home .logo {
        margin: 45px auto 0; }
      .page#home h1 {
        font-size: 32px; }
      .page#home p {
        font-size: 16px; }
      .page#home a {
        left: 50%;
        font-size: 30px;
        bottom: 10px;
        width: 30px;
        margin-left: -15px; }
        .page#home a:hover {
          bottom: 0px; }
    .page#projects .projects-list li {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      border-bottom: 1px solid black;
      border-top: 1px solid black; }
    .page#projects .project-detail .project-pictures {
      float: inherit;
      width: 168px;
      margin: 0 auto; }
    .page#projects .project-detail .project-info {
      padding: 0; }
    .page#contact .contact-list li {
      opacity: 1; }
      .page#contact .contact-list li.link {
        left: 429px;
        top: 227px; }
      .page#contact .contact-list li.gith {
        left: 500px;
        top: 116px; }
      .page#contact .contact-list li.face {
        left: 294px;
        top: 107px; }
      .page#contact .contact-list li.emai {
        left: 512px;
        top: 344px; }
      .page#contact .contact-list li.skyp {
        left: 271px;
        top: 371px; }
  footer p {
    font-size: 15px; }
  footer a {
    font-size: 20px; } }
